@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";

.app,
.app_modal {
	font: var(--font-m);
	color: var(--primary-color);
}
.app {
	background: var(--bg-color);
	min-height: 100vh;
}
