@use "reset";
@use "variables/global";
@use "themes/light";
@use "themes/dark";

body {
	color: var(--primary-color);
	font: var(--font-m);
}

.app {
	background: var(--bg-color);
	min-height: 100vh;

	&__content-page {
		height: calc(100vh - var(--navbar-height));
		overflow-y: auto;
		padding: 0 15px;
		width: 100%;
	}
}
