.LoginForm {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-width: 320px;

	&__items {
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}

	&__input {
		width: 100%;

		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}

	&__button {
		width: fit-content;
	}
}
