.AppLink {
	align-items: center;
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	color: var(--primary-color);
	display: inline-flex;
	font-weight: 600;
	letter-spacing: var(--letter-spacing);
	padding: 8px 15px;
	transition: background-color border 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color);
		}
	}
}

.active {
	border: 1px solid var(--hint-color);
}
