.Switcher {
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	display: flex;
	height: var(--input-height);
	width: fit-content;

	&__first,
	&__second {
		margin-bottom: -1px;
		margin-top: -1px;
		pointer-events: auto;
		transition: all 0.3s ease 0s;
	}

	&__first {
		border-bottom-right-radius: 0;
		border-right: none;
		border-top-right-radius: 0;
		margin-left: -1px;
	}

	&__second {
		border-bottom-left-radius: 0;
		border-left: none;
		border-top-left-radius: 0;
		margin-right: -1px;
	}

	&_active {
		background-color: var(--bg-color-secondray);
		border: 1px solid var(--hint-color);
		border-radius: var(--border-radius);
		pointer-events: none;
	}
}
