.ProfilePage {
	display: flex;
	gap: 30px;
	min-height: calc(100vh - var(--navbar-height));
	padding: 15px;
	position: relative;

	&__sidebar {
		flex: 0 0 300px;
	}

	&__content {
		flex: 1 1 auto;
	}

	&__loader {
		min-height: calc(100vh - (var(--navbar-height) + 30px));
	}
}
