.Skeleton {
	box-shadow: 0 2px 10px 0 var(--skeleton-shadow);
	height: 50px;
	overflow: hidden;
	position: relative;
	width: 100%;

	&::before {
		animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
		background: linear-gradient(to right, transparent 0%, var(--skeleton-color) 50%, transparent 100%);
		content: "";
		display: block;
		height: 100%;
		left: -100%;
		position: absolute;
		top: 0;
		width: 80%;
	}
}

@keyframes load {
	from {
		left: -100%;
	}

	to {
		left: 100%;
	}
}
