.SvgIcon {
	position: relative;

	svg {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

		path {
			fill: var(--primary-color);
		}
	}
}

.navbar_size {
	height: 40px;
	width: 40px;
}

.navbar_lang_size {
	height: 26px;
	width: 26px;
}
