.app_dark_theme {
	--primary-color: #fff;
	--secondray-color: #969696;
	--bg-color: #000;
	--bg-color-secondray: #202020;
	--hint-color: #ffa31a;
	--hint-hover-color: #f60;
	--overlay-color: rgb(0 0 0 / 80%);

	// skeleton
	--skeleton-color: rgb(255 255 255 / 40%);
	--skeleton-shadow: rgb(255 255 255 / 20%);
}
