:root {
	--primary-color: #000;
	--secondray-color: #2b2b2b;
	--bg-color: #fff;
	--bg-color-secondray: #ebebeb;
	--hint-color: #f90;
	--hint-hover-color: #f60;
	--overlay-color: rgb(255 255 255 / 80%);

	// skeleton
	--skeleton-color: rgb(0 0 0 / 30%);
	--skeleton-shadow: rgba(0 0 0 / 20%);
}
