.Button {
	background-color: transparent;
	transition: background-color 0.3s ease 0s;
}

.main_button,
.theme_switcher,
.lang_switcher,
.submit,
.cancel,
.dropdown,
.select,
.switcher {
	align-items: center;
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	color: var(--primary-color);
	display: flex;
	display: inline-flex;
	font-weight: 600;
	justify-content: center;
	letter-spacing: var(--letter-spacing);
	padding: 8px 15px;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color);
		}
	}
}

.theme_switcher,
.lang_switcher {
	height: 100%;
}

.theme_switcher {
	padding: 0 10px 0 6px;
}

.lang_switcher {
	gap: 5px;
	padding: 0 10px;

	span {
		color: var(--primary-color);
		font-weight: 600;
		letter-spacing: var(--letter-spacing);
	}
}

.password {
	align-items: center;
	background-color: transparent;
	border: 1px solid var(--primary-color);
	border-bottom-right-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	display: flex;
	height: var(--input-height);
	justify-content: center;
	width: 50px;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color);
		}
	}
}

.disabled {
	opacity: 0.5;
}

.submit {
	background-color: var(--hint-color);

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hint-hover-color);
		}
	}
}

.cancel {
	border: 1px solid var(--red-light);
	transition: border 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			border: 1px solid var(--red-dark);
		}
	}
}

.active {
	border: 1px solid var(--hint-color);
}

.dropdown {
	padding: 8px 38px 8px 15px;
	position: relative;
	transition: all 0.3s ease 0s;

	&__icon {
		position: absolute !important;
		right: 15px;
		top: 50%;
		transform: translate(0, -50%) rotate(180deg);
		transition: transform 0.5s ease 0s;
	}
}

.dropdown_open {
	border: 1px solid var(--hint-color);

	.dropdown__icon {
		transform: translate(0, -50%) rotate(0deg);
	}
}

.select {
	border: none;
	justify-content: flex-start;
	min-width: 100%;
	text-align: left;
	width: 100%;
}

.switcher {
	display: block;
	white-space: nowrap;
}

.switcher_active {
	border: 1px solid var(--hint-color);

	@media (any-hover: hover) {
		&:hover {
			background-color: transparent;
		}
	}
}
