.Button {
	background-color: transparent;
	transition: background-color 0.3s ease 0s;
}

.main_button,
.theme_switcher,
.lang_switcher,
.submit,
.cancel {
	align-items: center;
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	color: var(--primary-color);
	display: flex;
	display: inline-flex;
	font-weight: 600;
	height: 100%;
	justify-content: center;
	letter-spacing: var(--letter-spacing);
	padding: 8px 15px;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color);
		}
	}
}

.theme_switcher {
	padding: 0 10px 0 6px;
}

.lang_switcher {
	gap: 5px;
	padding: 0 10px;

	span {
		color: var(--primary-color);
		font-weight: 600;
		letter-spacing: var(--letter-spacing);
	}
}

.password {
	align-items: center;
	background-color: transparent;
	border: 1px solid var(--primary-color);
	border-bottom-right-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	display: flex;
	height: var(--input-height);
	justify-content: center;
	width: 50px;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color);
		}
	}
}

.disabled {
	opacity: 0.5;
}

.submit {
	background-color: var(--hint-color);

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--hint-hover-color);
		}
	}
}

.cancel {
	border: 1px solid var(--red-light);
	transition: border 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			border: 1px solid var(--red-dark);
		}
	}
}
