.filter {
	align-items: center;
	background-color: transparent;
	color: var(--primary-color);
	display: flex;
	font-weight: 600;
	height: 100%;
	justify-content: center;
	letter-spacing: var(--letter-spacing);
	padding: 0 15px;
	transition: background-color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color-hover);
		}
	}
}

.switcher {
	align-items: center;
	background-color: transparent;
	display: inline-flex;
	height: 100%;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bg-color-hover);
		}
	}
}
