.Navbar {
	background-color: var(--bg-color-secondray);
	display: flex;
	height: var(--navbar-height);
	padding: 0 15px;
	width: 100%;

	&__links {
		height: inherit;
		margin-left: auto;
	}

	&__switchers {
		display: flex;
	}

	&__actions {
		display: flex;
		margin-left: auto;
	}
}
