.Navbar {
	background-color: var(--bg-color-secondray);
	display: flex;
	height: var(--navbar-height);
	padding: 8px 15px;
	width: 100%;
	&__actions {
		display: flex;
		gap: 10px;
		margin-left: auto;
	}
	&__theme {
		padding: 0px 10px 0px 6px;
	}
}
