.ProfileCard {
	background-color: var(--bg-color-secondray);
	border-radius: var(--border-radius);
	margin: 0 auto;
	padding: 15px;

	&__loading {
		align-items: center;
		border: 1px solid transparent;
		display: flex;
		justify-content: center;
	}

	&__label {
		&:not(:last-child) {
			margin: 0 0 5px 0;
		}
	}

	&__error {
	}

	&__data {
	}

	&__inner {
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}

	&__input {
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}
}
