.Filterbar {
	background-color: var(--bg-color-secondray);
	padding: 8px 15px;

	&:not(:last-child) {
		margin: 0 0 20px 0;
	}

	&__top {
		display: flex;
		gap: 20px;

		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}

	&__actions {
		display: flex;
		gap: 20px;
	}

	&__input {
		flex: 1 1 auto;
	}

	&__bottom {
		display: flex;
		gap: 20px;
		justify-content: space-between;
	}

	&__dropdowns {
		display: flex;
		gap: 20px;
	}

	&__submit {
		min-width: 200px;
	}
}
